.banner {
    background-image: linear-gradient(180deg, darkgrey, grey, darkgrey);
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
    right: 0px;
}

header {
    font-size: 36px;
    text-align: center;
    padding-top: 20px;
    color: white;
}

.spacer {
    margin-top: 150px;
}

table {
    border: 1px solid black;
    margin: auto;
    border-collapse: collapse;
    width: 75%;
    box-shadow: 5px 5px 10px black;
}

th, td {
    padding: 10px;
    border: 1px solid black;
}

th {
    background-color: rgb(211, 191, 191);
}

th:hover, td:hover {
    background-color: lavender;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
    display: flex;
    position: absolute;
    top: 50px;
}

ul li a{
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

ul li a:hover {
    background-color: lavender;
}

@media (max-width: 480px) {
     .banner {
        font-size: 1.2em;
    }

    .table-container  {
        overflow-x: auto;
        max-width: 90%;
        margin: auto;
        border: 1px soilid black;
    }

    header {
        font-size: 1.2em;
    }
}
